@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --text-h1-lg: 2.5em;
  --text-h1: 1.75em;
  --text-h2: 1.25em;
  --text-h3: 1.125em;
  --text-h4: 1em;
  --text-h5: 0.875em;
  --radius-1em: 1em;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-secondary);
  color: var(--color-text);
  font-family: var(--font-inter);
  padding: 1.25rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Prevenir flash de colores */
html {
  background: #181a21; /* Color secundario por defecto */
  color: #fff; /* Color de texto por defecto */
}

/* Mejoras adicionales para scroll suave */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Offset para el header fijo */
}

/* Transiciones suaves para elementos que cambian durante el scroll */
* {
  scroll-margin-top: 80px; /* Margen superior para scroll suave */
}

.gradient-bg {
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    transparent 100%
  );
}
@media (min-width: 375px) {
  @keyframes orbit-1 {
    0% {
      transform: rotate(0deg) translateX(145px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(145px) rotate(-360deg);
    }
  }

  @keyframes orbit-2 {
    0% {
      transform: rotate(72deg) translateX(145px) rotate(-72deg);
    }
    100% {
      transform: rotate(432deg) translateX(145px) rotate(-432deg);
    }
  }

  @keyframes orbit-3 {
    0% {
      transform: rotate(144deg) translateX(145px) rotate(-144deg);
    }
    100% {
      transform: rotate(504deg) translateX(145px) rotate(-504deg);
    }
  }

  @keyframes orbit-4 {
    0% {
      transform: rotate(216deg) translateX(145px) rotate(-216deg);
    }
    100% {
      transform: rotate(576deg) translateX(145px) rotate(-576deg);
    }
  }

  @keyframes orbit-5 {
    0% {
      transform: rotate(288deg) translateX(145px) rotate(-288deg);
    }
    100% {
      transform: rotate(648deg) translateX(145px) rotate(-648deg);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes orbit-1 {
    0% {
      transform: rotate(0deg) translateX(225px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(225px) rotate(-360deg);
    }
  }

  @keyframes orbit-2 {
    0% {
      transform: rotate(72deg) translateX(225px) rotate(-72deg);
    }
    100% {
      transform: rotate(432deg) translateX(225px) rotate(-432deg);
    }
  }

  @keyframes orbit-3 {
    0% {
      transform: rotate(144deg) translateX(225px) rotate(-144deg);
    }
    100% {
      transform: rotate(504deg) translateX(225px) rotate(-504deg);
    }
  }

  @keyframes orbit-4 {
    0% {
      transform: rotate(216deg) translateX(225px) rotate(-216deg);
    }
    100% {
      transform: rotate(576deg) translateX(225px) rotate(-576deg);
    }
  }

  @keyframes orbit-5 {
    0% {
      transform: rotate(288deg) translateX(225px) rotate(-288deg);
    }
    100% {
      transform: rotate(648deg) translateX(225px) rotate(-648deg);
    }
  }
}

@keyframes bubble-fall-1 {
  0% {
    transform: translateY(-100vh) translateX(0px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: translateY(80vh) translateX(20px) rotate(180deg);
  }
  70% {
    transform: translateY(75vh) translateX(25px) rotate(200deg);
  }
  80% {
    transform: translateY(85vh) translateX(15px) rotate(220deg);
  }
  90% {
    transform: translateY(82vh) translateX(18px) rotate(240deg);
  }
  100% {
    transform: translateY(85vh) translateX(20px) rotate(260deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-2 {
  0% {
    transform: translateY(-100vh) translateX(50px) rotate(0deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  65% {
    transform: translateY(75vh) translateX(-20px) rotate(200deg);
  }
  75% {
    transform: translateY(70vh) translateX(-15px) rotate(220deg);
  }
  85% {
    transform: translateY(80vh) translateX(-25px) rotate(240deg);
  }
  95% {
    transform: translateY(77vh) translateX(-22px) rotate(260deg);
  }
  100% {
    transform: translateY(80vh) translateX(-20px) rotate(280deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-3 {
  0% {
    transform: translateY(-100vh) translateX(-30px) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  55% {
    transform: translateY(70vh) translateX(35px) rotate(150deg);
  }
  65% {
    transform: translateY(65vh) translateX(40px) rotate(170deg);
  }
  75% {
    transform: translateY(75vh) translateX(30px) rotate(190deg);
  }
  85% {
    transform: translateY(72vh) translateX(33px) rotate(210deg);
  }
  100% {
    transform: translateY(75vh) translateX(35px) rotate(230deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-4 {
  0% {
    transform: translateY(-100vh) translateX(80px) rotate(0deg);
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  60% {
    transform: translateY(75vh) translateX(-40px) rotate(220deg);
  }
  70% {
    transform: translateY(70vh) translateX(-35px) rotate(240deg);
  }
  80% {
    transform: translateY(80vh) translateX(-45px) rotate(260deg);
  }
  90% {
    transform: translateY(77vh) translateX(-42px) rotate(280deg);
  }
  100% {
    transform: translateY(80vh) translateX(-40px) rotate(300deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-5 {
  0% {
    transform: translateY(-100vh) translateX(-50px) rotate(0deg);
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  50% {
    transform: translateY(75vh) translateX(25px) rotate(120deg);
  }
  60% {
    transform: translateY(70vh) translateX(30px) rotate(140deg);
  }
  70% {
    transform: translateY(80vh) translateX(20px) rotate(160deg);
  }
  80% {
    transform: translateY(77vh) translateX(23px) rotate(180deg);
  }
  100% {
    transform: translateY(80vh) translateX(25px) rotate(200deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-6 {
  0% {
    transform: translateY(-100vh) translateX(30px) rotate(0deg);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  60% {
    transform: translateY(70vh) translateX(-35px) rotate(250deg);
  }
  70% {
    transform: translateY(65vh) translateX(-30px) rotate(270deg);
  }
  80% {
    transform: translateY(75vh) translateX(-40px) rotate(290deg);
  }
  90% {
    transform: translateY(72vh) translateX(-37px) rotate(310deg);
  }
  100% {
    transform: translateY(75vh) translateX(-35px) rotate(330deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-7 {
  0% {
    transform: translateY(-100vh) translateX(-70px) rotate(0deg);
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  45% {
    transform: translateY(75vh) translateX(45px) rotate(100deg);
  }
  55% {
    transform: translateY(70vh) translateX(50px) rotate(120deg);
  }
  65% {
    transform: translateY(80vh) translateX(40px) rotate(140deg);
  }
  75% {
    transform: translateY(77vh) translateX(43px) rotate(160deg);
  }
  100% {
    transform: translateY(80vh) translateX(45px) rotate(180deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-8 {
  0% {
    transform: translateY(-100vh) translateX(60px) rotate(0deg);
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    transform: translateY(70vh) translateX(-25px) rotate(280deg);
  }
  75% {
    transform: translateY(65vh) translateX(-20px) rotate(300deg);
  }
  85% {
    transform: translateY(75vh) translateX(-30px) rotate(320deg);
  }
  95% {
    transform: translateY(72vh) translateX(-27px) rotate(340deg);
  }
  100% {
    transform: translateY(75vh) translateX(-25px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-9 {
  0% {
    transform: translateY(-100vh) translateX(-20px) rotate(0deg);
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  55% {
    transform: translateY(75vh) translateX(40px) rotate(180deg);
  }
  65% {
    transform: translateY(70vh) translateX(45px) rotate(200deg);
  }
  75% {
    transform: translateY(80vh) translateX(35px) rotate(220deg);
  }
  85% {
    transform: translateY(77vh) translateX(38px) rotate(240deg);
  }
  100% {
    transform: translateY(80vh) translateX(40px) rotate(260deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-10 {
  0% {
    transform: translateY(-100vh) translateX(90px) rotate(0deg);
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  70% {
    transform: translateY(75vh) translateX(-50px) rotate(320deg);
  }
  80% {
    transform: translateY(70vh) translateX(-45px) rotate(340deg);
  }
  90% {
    transform: translateY(80vh) translateX(-55px) rotate(360deg);
  }
  95% {
    transform: translateY(77vh) translateX(-52px) rotate(380deg);
  }
  100% {
    transform: translateY(80vh) translateX(-50px) rotate(400deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-11 {
  0% {
    transform: translateY(-100vh) translateX(180px) rotate(0deg);
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  60% {
    transform: translateY(75vh) translateX(130px) rotate(210deg);
  }
  70% {
    transform: translateY(70vh) translateX(120px) rotate(230deg);
  }
  80% {
    transform: translateY(80vh) translateX(80px) rotate(250deg);
  }
  90% {
    transform: translateY(77vh) translateX(120px) rotate(270deg);
  }
  100% {
    transform: translateY(80vh) translateX(30px) rotate(290deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-12 {
  0% {
    transform: translateY(-100vh) translateX(115px) rotate(0deg);
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  50% {
    transform: translateY(75vh) translateX(-80px) rotate(140deg);
  }
  60% {
    transform: translateY(70vh) translateX(-25px) rotate(160deg);
  }
  70% {
    transform: translateY(80vh) translateX(-135px) rotate(180deg);
  }
  80% {
    transform: translateY(77vh) translateX(-100px) rotate(200deg);
  }
  100% {
    transform: translateY(80vh) translateX(-30px) rotate(220deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-13 {
  0% {
    transform: translateY(-100vh) translateX(-10px) rotate(0deg);
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  65% {
    transform: translateY(75vh) translateX(-100px) rotate(260deg);
  }
  75% {
    transform: translateY(70vh) translateX(-25px) rotate(280deg);
  }
  85% {
    transform: translateY(80vh) translateX(-30px) rotate(300deg);
  }
  95% {
    transform: translateY(77vh) translateX(27px) rotate(320deg);
  }
  100% {
    transform: translateY(80vh) translateX(55px) rotate(340deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-14 {
  0% {
    transform: translateY(-100vh) translateX(-145px) rotate(0deg);
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  55% {
    transform: translateY(75vh) translateX(-15px) rotate(160deg);
  }
  65% {
    transform: translateY(70vh) translateX(-20px) rotate(180deg);
  }
  75% {
    transform: translateY(80vh) translateX(-30px) rotate(200deg);
  }
  85% {
    transform: translateY(77vh) translateX(-47px) rotate(220deg);
  }
  100% {
    transform: translateY(80vh) translateX(-45px) rotate(240deg);
    opacity: 1;
  }
}

@keyframes bubble-fall-15 {
  0% {
    transform: translateY(-100vh) translateX(-100px) rotate(0deg);
    opacity: 0;
  }
  17% {
    opacity: 1;
    transform: translateY(-100vh) translateX(-109px) rotate(0deg);
  }
  70% {
    transform: translateY(75vh) translateX(-135px) rotate(290deg);
  }
  80% {
    transform: translateY(70vh) translateX(-140px) rotate(310deg);
  }
  90% {
    transform: translateY(80vh) translateX(-130px) rotate(330deg);
  }
  95% {
    transform: translateY(77vh) translateX(-133px) rotate(350deg);
  }
  100% {
    transform: translateY(80vh) translateX(-165px) rotate(370deg);
    opacity: 1;
  }
}

/* Bubble falling animation classes */
.animate-bubble-fall-1 {
  animation: bubble-fall-1 12s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-bubble-fall-2 {
  animation: bubble-fall-2 11s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-bubble-fall-3 {
  animation: bubble-fall-3 11s ease-in-out infinite;
  animation-delay: 2s;
}

.animate-bubble-fall-4 {
  animation: bubble-fall-4 12s ease-in-out infinite;
  animation-delay: 0.8s;
}

.animate-bubble-fall-5 {
  animation: bubble-fall-5 12s ease-in-out infinite;
  animation-delay: 3s;
}

.animate-bubble-fall-6 {
  animation: bubble-fall-6 10s ease-in-out infinite;
  animation-delay: 1.5s;
}

.animate-bubble-fall-7 {
  animation: bubble-fall-7 13s ease-in-out infinite;
  animation-delay: 1.8s;
}

.animate-bubble-fall-8 {
  animation: bubble-fall-8 12s ease-in-out infinite;
  animation-delay: 0.8s;
}

.animate-bubble-fall-9 {
  animation: bubble-fall-9 13s ease-in-out infinite;
  animation-delay: 2.3s;
}

.animate-bubble-fall-10 {
  animation: bubble-fall-10 11s ease-in-out infinite;
  animation-delay: 1.2s;
}

.animate-bubble-fall-11 {
  animation: bubble-fall-11 14s ease-in-out infinite;
  animation-delay: 2.1s;
}

.animate-bubble-fall-12 {
  animation: bubble-fall-12 18s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-bubble-fall-13 {
  animation: bubble-fall-13 15s ease-in-out infinite;
  animation-delay: 2.3s;
}

.animate-bubble-fall-14 {
  animation: bubble-fall-14 12s ease-in-out infinite;
  animation-delay: 1.6s;
}

.animate-bubble-fall-15 {
  animation: bubble-fall-15 13s ease-in-out infinite;
  animation-delay: 1.55s;
}

.animate-float-1 {
  animation: orbit-1 8s linear infinite;
}

.animate-float-2 {
  animation: orbit-2 8s linear infinite;
}

.animate-float-3 {
  animation: orbit-3 8s linear infinite;
}

.animate-float-4 {
  animation: orbit-4 8s linear infinite;
}

.animate-float-5 {
  animation: orbit-5 8s linear infinite;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-secondary);
}

.loading-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  animation: loadingAnimation 3s ease-in-out forwards;
}

@keyframes loadingAnimation {
  0% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 50%,
      var(--color-secondary) 100%
    );
  }
  25% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 40%,
      var(--color-secondary) 100%
    );
  }

  50% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 30%,
      var(--color-secondary) 100%
    );
  }
  75% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 20%,
      var(--color-secondary) 100%
    );
  }
  90% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 10%,
      var(--color-secondary) 100%
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 0%,
      transparent 100%
    );
    opacity: 0;
  }
}
